body {
  margin: 0px;
}
.top {
  display: flex;
  /* border: 1px solid grey; */
  padding: 5px;
  background-color: #407bae91;
}
.right {
  margin-left: auto;
}
.navbar {
  border-bottom: 3px solid rgb(77, 179, 77);
  background-color: rgb(233, 233, 233);
  padding: 0;
  height: 45px;
}
.navbar ul {
  margin: 0;
  padding-left: 0;
}
.navbar li {
  float: left;
  list-style: none;
}
.navbar li a {
  padding: 13px 23px 10px 23px;
  /* padding: 3px 3px; */
  text-decoration: none;
  color: black;
  font-size: 14px;
}
.navbar li a:hover {
  background-color: rgb(150, 144, 144);
  color: rgb(233, 233, 233);
}

.bottom {
  width: 80%;
  text-align: center;
  height: 90px;
  margin: 0 auto;
  margin-top: 90px;
  overflow: hidden;
}
.bb {
  border: 0.5px solid #407bae91;
}
