body {
  margin: 0px;
  min-width: 1000px;
  font-size: 14px;
}
.top {
  display: flex;
  padding: 5px;
}
.right {
  margin-left: auto;
  display: flex;
}
.midR {
  margin-top: 5%;
  display: block;
  flex-direction: column;
  margin-left: auto;
}
.midR a {
  text-decoration: none;
  color: black;
}
.navbar {
  border-bottom: 3px solid rgb(77, 179, 77);
  background-color: rgb(233, 233, 233);
  padding: 0;
  height: 45px;
}
.navbar ul {
  margin: 0;
  padding-left: 0;
}
.navbar li {
  float: left;
  list-style: none;
}
.navbar li a {
  padding: 13px 23px 10px 23px;
  text-decoration: none;
  color: black;
  font-size: 14px;
}
.navbar li a:hover {
  background-color: rgb(168, 165, 165);
  color: rgb(233, 233, 233);
}

/* Change background color of navbar links for current page */
.color.current {
  background-color: #575050;
  color: #ffffff;
}

.bottom {
  width: 80%;
  text-align: center;
  height: 90px;
  margin: 0 auto;
  margin-top: 90px;
  overflow: hidden;
  margin-bottom: 40px;
}
.bb {
  border: 0.5px solid #407bae91;
}
