.Pnavbar {
  background-color: rgb(233, 233, 233);
  padding: 0;
  height: 45px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 1600px;
}
.Pnavbar ul {
  margin: 0;
  padding-left: 0;
  overflow: auto;
}
.Pnavbar li {
  float: left;
  list-style: none;
}
.Pnavbar li a {
  padding: 12px 23px 12px 23px;
  text-decoration: none;
  color: black;
  font-size: 14px;
  display: block;
}
.Pnavbar li a:hover {
  background-color: rgb(202, 201, 201);
  border-radius: 4px;
}
.Pnavbar li a.active {
  background-color: #963fbd;
  color: azure;
  border-radius: 4px;
}
