.pageNav {
    margin-top: 50px;
}
.pageNav ul {
    list-style-type: none;
    margin: 0;
}
.pageNav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a:-webkit-any-link {
    cursor: pointer;
}
.pageNav li a.active {
    color: white;
    background-color: #4CAF50;
}