body {
  font-size: 14px;
}
/* .h5 {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: -35px;
  margin-left: 18px;
} */
.alert {
  margin-left: auto;
  margin-right: auto;
}
.body {
  margin-top: -50px;
  margin-left: auto;
  margin-right: auto;
}
.Lcol {
  width: 40%;
  margin: 5%;
  float: left;
}
.Rcol {
  width: 40%;
  margin: 5%;
  float: left;
  /* margin-top: 0%; */
}
.btn {
  display: block;
  background-color: #4caf50;
  color: azure;
  padding: 7px 90px;
  margin-top: 31px;
}
