body {
  font-size: 13px;
}
/* .h5 {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: -35px;
  margin-left: 18px;
} */
.Lcol {
  width: 40%;
  margin: 5%;
  float: left;
}
.Rcol {
  width: 40%;
  margin: 5%;
  float: left;
}
.btn {
  display: block;
  background-color: #4caf50;
  color: azure;
  padding: 7px 90px;
  margin-top: 31px;
}
